.container{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
}

.box1{
    background-color: rgb(120, 120, 253);
    border: solid 3px rgb(243, 216, 97);
    grid-area: 1 / 1 / 2 / 5;
}

.box2{
    background-color: rgb(241, 86, 86);
    border: solid 3px rgb(243, 216, 97);
}

.box3{
    background-color: rgb(156, 245, 134);
    border: solid 3px rgb(243, 216, 97);
    grid-area: 2 / 2 / 3 / 4;
}

.box4{
    background-color: rgb(241, 86, 86);
    border: solid 3px rgb(243, 216, 97);
}

.box5{
    background-color: rgb(240, 129, 55);
    border: solid 3px rgb(243, 216, 97);
    grid-area: 3 / 1 / 4 / 5;
}