*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

.header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    background-image: url(https://www.pngkey.com/png/full/12-120956_bmw-m-series-logo-png-transparent-m-performance.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    margin: 30px 30px;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero{
    display: flex;
    text-align: center;
    color: white;
    margin: 10px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 45px;
}

.desc{
    display: flex;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin: 30px 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
}

.btn{
    background-color: red;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: solid 1px red;
}

.house{
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: -40px;
}

@media only screen and (min-width: 768px){

    .hero{
        font-size: 75px;
    }

    .desc{
        margin: 30px 70px;
        font-size: 25px;
    }

    .btn{
        height: 60px;
        width: 200px;
        font-size: 20px;
        border-radius: 15px;
        border: solid 1px red;
    }
    
    .house{
        height: 600px;
    }

}

@media only screen and (min-width: 1000px){

    .hero{
        font-size: 100px;
    }

    .desc{
        font-size: 30px;
    }

    .house{
        margin-top: -100px;
        height: 800px;
    }

}