body{
    background-image: url("https://i.redd.it/g4crddfnmt9a1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
    background-blend-mode: multiply;
}